# Start with LLVM as the base
BasedOnStyle: LLVM

# Language: Cpp
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left

# Classes
AccessModifierOffset: -4

# Switch
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
IndentCaseLabels: true

# Lambdas
AllowShortLambdasOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign

# Functions
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes

# Misc
Cpp11BracedListStyle: false