# Start with LLVM as the base
BasedOnStyle: LLVM

# Language: Cpp
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left

# Classes
AccessModifierOffset: -4

# Functions
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes

# Switch
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true

# Lambdas
AllowShortLambdasOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign

# IFs
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Never
BreakBeforeBraces: Attach

# Loops
AllowShortLoopsOnASingleLine: true

# Misc
Cpp11BracedListStyle: false
NamespaceIndentation: Inner