# Enable these groups of checks
Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  llvm-include-order,
  -readability-braces-around-statements,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-prefer-member-initializer,
  -Wsign-conversion,
  -cppcoreguidelines-pro-type-vararg,
  -readability-else-after-return,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-implicit-bool-conversion
  
# -cppcoreguidelines-pro-bounds-pointer-arithmetic,
# Checks: 'bugprone-argument-comment,bugprone-suspicious-missing-comma'
# Treat these specific warnings as errors (prevents compiling bad code)
# WarningsAsErrors: 'bugprone-*,performance-*'
